@import "../../variables.scss";

.IndexGalleryThumb {
    $height: 50px;

    height: calc($height + 10px);
    margin-bottom: 5px;

    &__link {
        height: calc($height + 10px);
        padding: 5px;

        background: darken($white, 30%);
        color: $white;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        box-sizing: border-box;
    }

    &__name {
        width: 20%;
        overflow: hidden;
        text-overflow: ellipsis;
        flex-shrink: 0;
    }

    &__images {
        height: $height;
        flex-grow: 1;
        overflow: hidden;
        box-sizing: border-box;

        display: flex;
        justify-content: flex-end;
    }

    &__image {
        height: 100%;
        margin: 2px;
    }
}