@import "../../variables.scss";

.GalleryOverview {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title {
        text-align: center;
        margin: 30px 10px 0 10px;
    }

    &__description {
        display: flex;
        justify-content: center;
        margin: 0 10px 10px 10px;

        > p {
            width: 400px;
        }
    }

    &__date {
        &--withDescription {
            color: darken($color: $white, $amount: 30%);
            margin-left: 10px;
        }
    }

    &__title, &__description {
        width: calc(100% - 20px);
        color: $white;
        box-sizing: border-box;
        padding: 10px;
    }

    &__navigation {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 20px 0 20px 0;
    }

    &__indexLink {
        width: 40px;
        height: 20px;
    }
}