@import "../../variables.scss";

.FullscreenImage {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    &__image {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        object-fit: contain;
    }

    &__filmroll {
        z-index: 20;
    }
}