@import "../../variables.scss";

.SiteIndex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: auto;

    &__title {
        text-align: center;
        color: $white;
        margin: 30px 10px 20px 10px;
    }
}