@import "../../variables.scss";

.Triangle {

    width: 0; 
    height: 0; 

    &--up {
        $size: 18px;
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-bottom: 22px solid $white;
    }

    &--down {
        $size: 18px;
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-top: 22px solid $white;
    }

    &--right {
        $size: 15px;
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-left: $size solid $white;
    }

    &--left {
        $size: 15px;
        border-top: $size solid transparent;
        border-bottom: $size solid transparent; 
        border-right: $size solid $white; 
    }
}
