@import "../../variables.scss";

.Hint {
    opacity: 0.4;
    display: flex;
    justify-content: center;

    &--vertical {
        flex-direction: column;
    }

    &--horizontal {
        flex-direction: row;
    }

    &__dot {
        background-color: $white;
        width: 4px;
        height: 6px;
        border-radius: 10px;
        margin: 2px;
    }
}