@import "../../variables.scss";

.GalleryFilmroll {
    $imagesHeight: 100px;
    $navigationHeight: 40px;
    $filmrollHeight: #{$imagesHeight + $navigationHeight};

    width: 100vw;
    height: $filmrollHeight;

    position: absolute;
    left: 0;
    bottom: 0;

    &__navigation {
        height: $navigationHeight;
        left: 0;
        position: absolute;
        top: 500px;

        transition: all ease 0.2s;
        display: flex;
        padding-left: 10px;

        background-color: rgba($black, 0.5);
        padding-top: 5px;
        box-sizing: border-box;
        padding-right: 5px;
    }

    &__images {
        height: $imagesHeight;
        width: 100%;
        left: 0;
        top: 500px;
        position: absolute;

        background-color: rgba($black, 0.5);
        display: flex;
        justify-content: center;

        transition: top ease 0.2s;
    }

    &__hint {
        opacity: 0.4;
        transition: all ease 0.2s;
        width: 100%;
        position: absolute;
        bottom: 5px;
    }

    &__previousLink {
        margin-right: 10px;
    }

    &__previousLink, &__nextLink {
        height: 30px;
        width: 20px;
    }

    &__galleryLink {
        padding-top: 5px;
        height: 20px;
        width: 40px;
    }

    &:hover {
        .GalleryFilmroll__navigation {
            top: 0;
        }

        .GalleryFilmroll__images {
            top: $navigationHeight;
        }

        .GalleryFilmroll__hint {
            opacity: 0;
        }
    }
}