@import "./variables.scss";

body {
    overflow: hidden;
    padding: 0;
    margin: 0;

    background-color: $black;

    font-family: Verdana, Roboto, Geneva, Tahoma, sans-serif;
}

.Body {
    &--scrollY {
        overflow-y: auto;
    }
}
