$black: rgb(53, 54, 58);
$white: rgb(232, 234, 237);

$breakpoint-xl: 1600px; // Extreme large displays, nearing Full HD and more.
$breakpoint-l: 1200px; // Normal laptop screens, no normal phone portraits.
$breakpoint-m: 992px; // Landscape mode of phone, small tablet or big phone.
$breakpoint-s: 768px; // Small phones.