@import "../../variables.scss";

.ImageThumb {
    display: inline;

    &__image {
        height: calc(100% - 20px);
        margin: 5px;
        border: 5px solid transparent;
    }

    &--active {
        .ImageThumb__image {
            border: 5px solid $white;
        }
    }
}